<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>CRS Frontend </title>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script src="{{url_for('static', filename='jquery-1.11.0.min.js')}}"></script>

<input type="hidden" id="refreshed" value="no">

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;white-space:pre}
.tg th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;padding:2px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-9wi7{font-weight:bold;font-size:12px;background-color:#fffc9e;text-align:center}
.tg .tg-9wi8{font-weight:bold;font-size:12px;background-color:#9efcff;text-align:center}
.tg .tg-kr94{font-size:12px;text-align:center }

</style>
    
</head>

<body>
    <img src="{{url_for('static', filename='HARNESSlogo.jpg')}}"  alt="Logo" height="100" style="max-width: 120px;"\>
    <h1>CRS Frontend </h1>
    
<script>	
   function pretty_json(obj) {
      return obj.replace(/{|\"|}|\\/g,"").replace(/,/g,",<br>");
   } 

	function update() {
		var request = $.ajax({
			url: $SCRIPT_ROOT + "/data",
			type: "GET",			
			dataType: "json",
			success: function(data) {
			   var sect_resources = $("#resources").empty();
			   var managers = data["result"]["managers"];
			   var resources = data["result"]["resources"];
			   var reservations = data["result"]["reservations"];
			   var addrs = data["result"]["addrs"];
			   if (Object.keys(managers).length == 0) {
			      $("<h4>No IRMs have been registered!</h4>").appendTo(sect_resources);
			   } else {
			      $.each(managers, function(i, v) {
			         var hdr = $("<h5>").appendTo(sect_resources);
			         hdr.append(v["Name"] + " (" + v["Address"] + ": " + 
			                    v["Port"] + " / " + v["ManagerID"] + ")");
			         var table = $("<table class='tg'>").appendTo(sect_resources);
			         $("<tr><th class='tg-9wi7'>ID</th>" +
			           "<th class='tg-9wi7'>Type</th>"   +
			           "<th class='tg-9wi7'>Attributes</th></tr>").appendTo(table);
                  $.each(resources[i], function(j, r) {
    			         $("<tr><th class='tg-kr94'>" + r['Name'] + "</th>" +
			              "<th class='tg-kr94'>" +  
			                  "<img src=\"/static/" + r['Type'] + ".png\" height=\"40\" style=\"max-width: 120px\">"
			                  + "<br>" + r['Type'] + "</th>"   +
			              "<th class='tg-kr94'>" + pretty_json(JSON.stringify(r['Attributes'])) + "</th></tr>")
			              .appendTo(table); 
			         });                
			      });
			  }
			  var sect_reservations = $("#reservations").empty();
			  if (Object.keys(reservations).length == 0) {
			      $("<h4>No reservations!</h4>").appendTo(sect_reservations);
			  } else {
			      $.each(reservations, function(i, r) {
			         var hdr = $("<h5>").appendTo(sect_reservations);
			         hdr.append("ID: " + i);
				      var table = $("<table class='tg'>").appendTo(sect_reservations);
			         $("<tr><th class='tg-9wi8'>rID</th>" +
			           "<th class='tg-9wi8'>Manager</th>" +			       
                    "<th class='tg-9wi8'>Allocation</th>"   +				           
			           "<th class='tg-9wi8'>Instances</th></tr>")
			            .appendTo(table);
			      n = 0;
                  $.each(reservations[i], function(j, a) {
                        sh = a["sched"];
                        
                        // types and attributes
                        ress = ""; 
                        allocs = ""
                        
                        for (var s in sh) {
                           ress = ress + "<li><b>" + sh[s]["ID"] + "</b><img src=\"/static/" + sh[s]["Type"] + ".png\" style=\"height:30px;vertical-align:middle\"><br>(" + addrs[i][n]  + ")</li>"; n = n + 1;                          
                           allocs = allocs + "<li><b>" + sh[s]["Type"] + ":</b>" + JSON.stringify(sh[s]["Attributes"]) +  "</li>"                          
                        }
                                                
                        // attributes
       			         $("<tr><th class='tg-kr94'>" +  pretty_json(JSON.stringify(a["iRes"])) +
       			           "<th>" + a["name"] + " (" + a["addr"] + ":" + a["port"] + ")"
       			           + "<th align=\"left\">" + "<ol>" + allocs + "</ol>"
       			           + "<th align=\"left\">" + "<ol>" + ress + "</ol>"
  		                   + "</tr>")
			                 .appendTo(table); 
		            
			         }); 
			      });
			      /*  			  
			      var list = $("<ol>").appendTo(sect_reservations);
			      for (res in reservations) {
			         $("<li>" + JSON.stringify(reservations[res]) + "</li>").appendTo(list);
			         $("<li>" + JSON.stringify(addrs[res]) + "</li>").appendTo(list);
               }	*/		  
			  }

        }
			  
			
		});

		request.fail(function(jqXHR, textStatus) {
		   clearInterval(ihandle);
			alert( "Request failed: " + textStatus );
		});
	}
</script>

<script>	
	function release_all() {
		var request = $.ajax({
			url: $SCRIPT_ROOT + "/v3/reservations/all",
			type: "DELETE",			
			dataType: "json",
			success: function(data) {
			   update();
			  }
			});

		request.fail(function(jqXHR, textStatus) {
			alert( "Request failed: " + textStatus );
		});
	}
</script>


<script>	
	function reset() {
	   release_all();
		var request = $.ajax({
			url: $SCRIPT_ROOT + "/v3/managers",
			type: "DELETE",			
			dataType: "json",
			success: function(data) {
			   update();
			  }
			});

		request.fail(function(jqXHR, textStatus) {
			alert( "Request failed: " + textStatus );
		});
	}
</script>

<script>	
	function request_resources() {
		var request = $.ajax({
			url: $SCRIPT_ROOT + "/v3/resources/request",
			type: "GET",			
			dataType: "json",
			success: function(data) {
			   update();
			  }
			});

		request.fail(function(jqXHR, textStatus) {
			alert( "Request failed: " + textStatus );
		});
	}
</script>

<script type="text/javascript">


var ihandle=setInterval(function(){
   update();
}, 2000);

</script>

<input type="button" value="Update" onClick="request_resources()"</button> 
<input type="button" value="Reset" onClick="reset()"</button>  
<input type="button" value="Release" onClick="release_all()"</button>  
  
<hr>
<h3>Resources</h3>
<div id="resources"></div>
<hr>
<h3>Reservations</h3>
<div id="reservations"></div>
<hr> 
</body>
</html>
